.todo-form {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%
}

.todo-form-input {
  height: 20px;
  width: 100%;
  margin: 5px 0px 0px;
}

.todo-form-label {
  width: 100%;
  margin: 10px 0px 0px;
}

.submit-todo-button,
.add-task-button {
  height: 25px;
  margin: 10px 0px;
  text-align: center;
  width: 100%;
}

.working-tasks {
  margin: 0px;
  width: 100%;
}

.working-task {
  margin: 10px 0px;
  display: flex;
  width: 100%;
}

.working-task-text {
  margin: 0px 5px 0px;
}