.todo-box {
  border: 1px black solid;
  height: fit-content;
  width: 80%;
  margin: 0px auto;
}

.todo-title-container {
  border-bottom: 1px black solid;
}

h3 {
  margin: 10px;
}

.todo-tasks {
  margin: 10px
}

.todo-buttons-container {
  border-top: 1px black solid;
  display: flex;
  justify-content: space-between;
}

.urgent-btn-toggled,
.urgent-btn,
.todo-buttons {
  border: 0px;
  border-radius: 3px;
  margin: 5px;
}

.urgent-btn-toggled {
  background: rgb(141 239 92 / 50%);
}